.container_topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 10vh;
  padding: 20px 40px;
  background-color: var(--white);
  color: var(--black);
}

.topo_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container_topo .links{
  display: flex;
  gap: 16px;
}

.container_topo .links a{
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  padding: 16px;
}